<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>반복문</title>
</head>
<body>
    <h1>반복문</h1>

    <h2>개요</h2>
    <p>조건을 만족하는 동안 코드를 반복적으로 수행하는 문장</p>
    <p>자바스크립트에서는 기본적으로
        3가지 반복문(for, while, do-while)이 지원되고,
        그외 for-loop, for-in과 ES6에서 추가된 for-of등이 있음</p>

    <h2>for</h2>
    <p>조건식이 참 일 동안 코드블록을 반복적으로 실행</p>
    <p>for(초기식; 판별식; 증감식) {</p>
    <p>    반복구문</p>
    <p>}</p>

    <script>
        // 1 ~ 10 까지 출력
        document.write('1 ');
        document.write('2 ');
        document.write('3 ');
        document.write('4 ');
        document.write('5 ');
        document.write('6 ');
        document.write('7 ');
        document.write('8 ');
        document.write('9 ');
        document.write('10 ', '<br>');
    </script>
    <script>
        // 1 ~ 10 까지 출력 : for문
        for (let i = 1; i <= 10; ++i) {
            document.write(`${i} `);
        }
        document.write('<br>');

        // 1 ~ 100 사이 짝수 출력
        for (let i = 1; i <= 100; ++i) {
            if (i % 2 === 0) {
                document.write(`${i} `);
            }
        }
        document.write('<br>');

        // 10 ~ 1까지의 정수 출력
        for (let i = 10; i >= 1; --i) {
            document.write(`${i} `);
        }
        document.write('<br>');

        // 구구단 출력 - 7단
        for (let i = 1; i <= 9; ++i) {
            document.write(`7 x ${i} = ${7 * i}`, '<br>')
        }
    </script>


    <h2>무한 반복문 - for</h2>
    <p>for문의 경우 초기식,판별식,증감식을 비워두면
        반복을 끊임없이 실행하는 무한반복문이 됨</p>

    <script>
        // for ( ; ; ) {
        //     document.write('Hello, World!!', '<br>');
        // }
    </script>


    <h2>중첩 반복문 - for</h2>
    <p>2개 이상의 for문을 겹쳐 사용하는 반복문</p>
    <p>복잡한 작업을 반복 실행할때 유용하게 사용</p>

    <script>
        // 10층 별 삼각형 출력

        for (let i = 1; i <= 10; ++i) { // 층 반복문
            for (let j = 1; j <= i; ++j) { // 별 반복문
                document.write('*');
            }
            document.write('<br>');
        }
    </script>

    <h3>구구단</h3>
    <script>
        //구구단 출력
        for (let i = 1; i <= 9; ++i) {
            for (let j = 1; j <= 9; ++j) {
                document.write(`${i} x ${j} = ${i * j}`, '<br>')
            }
            document.write('<br>');
        }
    </script>


    <h2>break</h2>
    <p>원하는 시점에 반복문이나 코드블록에서
        벗어나기 위해 사용</p>

    <script>
        // 1 ~ 1000까지의 총합을 계산
        // 단, 총합이  10000을 넘으면 계산을 중단함
        let sum = 0;
        let cnt = 0;
        for (let i = 1; i <= 1000; ++i) {
            if (sum > 10000) break;
            sum = sum + i;  // 더하는 수(적립된다고 생각하면 됨 계속 더해지는 수)
            cnt = i;  // 증가하는 수
        }
        document.write(`${sum}, ${cnt}`, '<br>');
    </script>


    <h2>for-in</h2>
    <p>열거 가능한객체의 속성을 순회해서
        값을 다루고 싶을때 사용하는 반복문</p>
    <p>for (변수 in 객체) {</p>
    <p>반복 실행할 코드</p>
    <p>}</p>

    <script>
        const person = { //const: 상수를 정의하는데 사용. 객체변수(재할당 불가능)
          name: '혜교',
          age: 99,
          email: 'abc123@987xyz.co.kr'
        };

        document.write(person['name'], '<br>');
        document.write(person['age'], '<br>');
        document.write(person['email'], '<br>');

        for (let key in person) {
            document.write(`${key} : ${person[key]}`, '<br>');
        }
    </script>


    <h2>for-of</h2>
    <p>ES6에 추가된 반복문으로, 배열, 문자열, Map, Set 등의
        이터러블 객체의 값을 순차적으로 순회할 때 사용하는 반복문
        for-in의 상위호환</p>
    <p>이터러블 객체: 순차적으로 값들이 저장된 개체를 의미,
        따라서, 데이터 처리시 순서가 중요시 됨</p>
    <p>for(변수 of 이터러블객체) {</p>
    <p>반복 실행할 코드</p>
    <p>}</p>

    <script>
        const colors = ['red','orange','yellow','green','blue'];  // 이터러블 객체는 대부분 복수형으로 작성
        const say = 'Hello, World!!';

        for (let i = 0; i <= 4; ++i) {
            document.write(`${colors[i]}`, '<br>');
        }   // 명령형 코드

        for (let color of colors) {
            document.write(`${color}`, '<br>');
        }   // 선언형 코드

        for (let char of say) {
            document.write(`${char}`, ' ');
        }


    </script>



</body>
</html>