<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>텍스트 관련 태그</title>
</head>
<body>
    <h1>텍스트 관련 태그</h1>
    <h2>제목header 관련 태그</h2>
    <p>문서 내용에 따라 적절한 제목을 지정하는 것은 중요!</p>
    <p>제목은 h1(큰제목) ~ h6(작은제목) 태그를 사용</p>
    <p>검색엔진 최적화SEO에 중요한 요소로 작용하는 태그</p>
    <hr>
    <h1>큰제목(h1)</h1>
    <h2>큰제목(h2)</h2>
    <h3>중간제목(h3)</h3>
    <h4>중간제목(h4)</h4>
    <h5>작은제목(h5)</h5>
    <h6>작은제목(h6)</h6>

    <h2>문단</h2>
    <p>문단paragraph을 정의할때 사용</p>
    <p>문단이 정의되면 문단 위아래 약간의 여백이 추가됨</p>
    <p>문단 내 텍스트 적용된 공백이나 줄바꿈은 모두 무시되고 한줄로 출력됨</p>
    <hr>
    <p>
        앞서 열린 두 번의 파리 올림픽 때 발자국을 찍지 못한 대한민국은 정부 수립 후 처음으로 출전한 파리 올림픽에서 기적에 도전합니다.

        여자 핸드볼을 제외한 단체 구기 종목의 집단 부진 탓에 대한민국 선수단은 21개 종목에 선수 143명만 파견했고, 1976년 몬트리올 대회 이래 48년 만의 최소 인원입니다.

        비록 소수이지만, 정예로 멤버를 꾸린 한국 선수단은 대한체육회가 12년 만에 국외에 마련한 사전 캠프 및 급식 센터인 팀코리아 파리 플랫폼에서 마지막 땀 한 방울까지 쏟고 지난 18일 개촌한 선수촌으로 이동했습니다.

        금메달 5개 이상 획득해 종합 순위 15위에 오르겠다는 목표를 세운 한국 선수단은 진인사대천명의 겸허한 자세로 3년간 흘린 땀의 결실을 묵묵히 기다립니다.

        대회 개회 전 사전 경기로 25일 열린 남녀 양궁 랭킹 라운드에서 한국 대표팀은 남녀 개인, 단체, 혼성전 5개 종목 모두 1위를 석권하며 금메달 독식 가능성을 키웠습니다.

        또 8강 진출을 목표로 내건 여자 핸드볼 대표팀도 조별리그 첫 경기에서 버거운 독일에 짜릿한 한 점 차 역전승을 거둬 한국 선수단의 산뜻한 출발에 보조를 맞췄습니다.

        한국 선수단의 사기가 오른 만큼 목표를 초과 달성할 수 있다는 자신감도 커지고 있고, 미국 데이터업체 그레이스노트는 한국이 금메달 9개를 획득해 종합 10위에 오를 것으로 전망했습니다.

        양궁, 펜싱, 배드민턴, 수영, 탁구, 육상, 체조, 사격, 유도, 태권도는 세계와 겨뤄 밀리지 않는 한국의 대표 메달박스입니다.

        개회식 다음날인 27일부터 펜싱 사브르 남자 개인전, 에페 여자 개인전, 기대주 김우민의 수영 경영 남자 자유형 400ｍ 경기가 시작되는 가운데 한국 선수단의 첫 메달이 어느 종목에서 나올지, 우리나라 하계 올림픽 100번째 금메달의 주인공은 누가 될지도 관심사입니다.

        1976년 몬트리올 대회 레슬링 자유형 62㎏급에서 양정모가 최초로 올림픽 금메달을 목에 건 이래 대한민국은 2020 도쿄 올림픽까지 금메달 96개를 획득했습니다.

        파리가 다시 세계의 중심으로 서는 33회 하계 올림픽은 8월 11일에 폐막합니다.
    </p>
    <hr>
    <p>
        public static void main(String[] args) {
            System.out.println("Hello, World!!");
        }
    </p>

    <h2>줄바꿈 line-break</h2>
    <p>html에서는 텍스트에 작성된 줄바꿈은 무시된다고 했음</p>
    <p>만약, 의도적으로 줄바꿈을 적용하고 싶다면 br태그를 사용해야 함</p>
    <p>단, br태그는 종료태그가 없음</p>
    <p>
        public static void main(String[] args) { <br>
        System.out.println("Hello, World!!"); <br>
        }
    </p>

    <h2>수평선horizental</h2>
    <p>컨텐츠의 내용이 바뀔때 내용 환기를 위해 사용하는 구분선을 의미</p>

    <h2>엔티티 참조</h2>
    <p>html에는 특수한 용도를 위해 미리 예약된 문자들이 있음</p>
    <p>이러한 문자들을 일반 텍스트처럼 사용하면
        브라우저는 이것을 다르게 해석할 수도 있음</p>
    <p>따라서, html 예약어를 기존에 사용하던 의미대로
    사용하려면 별도로 만들어둔 문자셋entity을 이용해야 함</p>
    <p>문자셋은 &amp;과 &semi; 사이에 문자셋이름 또는
        문자셋번호를 이용해서 나타낼수 있음</p>
    <hr>
    <p>10 &gt; 9 &sol; 100 &lt; 5</p>
    <p>&copy; &reg;</p>
    <p>1 &nbsp;&nbsp;2 &nbsp;3</p>

    <h2>웹페이지 레이아웃용 텍스트 생성기</h2>
    <p>로렘lorem 입슘ipsum은 출판이나 그래픽 디자인 분야에서
        주로 사용하는 더미(의미없는) 텍스트</p>
    <p>디자인을 위해 자리 표시 역할을 담당하는 텍스트들을 의미</p>
    <p>https://lipsum.com/ &sol; hanipsum.com</p>

    <h2>텍스트 꾸밈 태그</h2>
    <p>문단내 텍스트들을 다르게 표시해서 강조,환기 효과를 얻기 위해 사용</p>
    <p>텍스트를 단순히 진하게 표시 - bold 태그 사용</p>
    <p>텍스트를 강조의 의미로 진하게 표시 - strong 태그 사용</p>
    <p>텍스트를 단순히 기울여서 표시 - italic 태그 사용</p>
    <p>텍스트를 강조의 의미로 기울여서 표시 - emphasize 태그 사용</p>
    <hr>
    <p>시간은 <b>금이라구</b>, 친구!!</p>
    <p>시간은 <strong>금이라구</strong>, 친구!!</p>
    <p>시간은 <i>금이라구</i>, 친구!!</p>
    <p>시간은 <em>금이라구</em>, 친구!!</p>
    <p>시간은 금이라구, 친구!!</p>

    <hr>
    <p>수식이나 기호에 위첨자를 나타내려면 superscript 태그 사용</p>
    <p>수식이나 기호에 아래첨자를 나타내려면 subscript 태그 사용</p>
    <p>논문에 사용하는 기호를 나타내려면 latex을 이용해야 함</p>
    <p>피타고라스 정리 : a<sup>2</sup> = b<sup>2</sup> + c<sup>2</sup></p>
    <p>특수 상대성 이론 : E = mc<sup>2</sup> </p>
    <p>물 : H<sub>2</sub>O, 이산화탄소 : CO<sub>2</sub></p>

    <hr>
    <p>ins 태그 : 밑줄을 나타내는 태그</p>
    <p>del 태그 : 문자 중간에 줄을 나타내어 수정을 나타내는 태그</p>
    <p>mark 태그</p>
    <p><ins>a<sup>2</sup> = b<sup>2</sup> + c<sup>2</sup></ins>는
        수학 역사상 가장 중요한 식 중의 하나로 여겨지고 있다</p>
    <p>이 벽화가 그려진 시기는 <del>청동기</del> 신석기이다</p>
    <p><mark>시간은 금이라구, 친구!!</mark></p>

    <hr>
    <p>kbd 태그 : </p>
    <p>pre 태그 : 눈에 보이는대로 나타내는 태그</p>
    <p>윈도우를 종료하려면 <kbd>Alt</kbd> + <kbd>F4</kbd> 누르면 됩니다</p>
    <pre>
    public static void main(String[] args) {
    System.out.println("Hello, World!!");
    }
    </pre>

    <hr>
    <h2>인용</h2>
    <p>짧은 인용은 q태그를, 긴 인용은 blockquote 태그를 사용(위, 아래, 양옆 여백을 줌)</p>
    <p>
        고블린인 한숨을 쉬며 말했다.
        <q>시간은 금이라구, 친구!!</q>
    </p>
    <p>
        고블린인 한숨을 쉬며 말했다.
        <blockquote>시간은 금이라구, 친구!!</blockquote>
    </p>
</body>
</html>